[gcode_macro PRINT_END]
gcode:
  # safe anti-stringing move coords
  {% set th = printer.toolhead %}
  {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
  {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
  {% set z_safe = [th.position.z + 20, th.axis_maximum.z]|min %}
  
  PARKREAR

  SET_PRESSURE_ADVANCE ADVANCE=0.0 # Turn off pressure advance to minimize oozing.
  # _TIP_SHAPING                   # Try to clean up the filament tip before retraction.
  # M83
  # G1 E-10 F2100                  # Retract filament

  # Try muninn's end_print section
  M400                           ; wait for buffer to clear
  G92 E0                         ; zero the extruder
  G1 E-5.0 F1800                 ; retract filament

  # Reset skew adjustment
  SET_SKEW CLEAR=1

  TURN_OFF_HEATERS
  
  # G90                            # absolute positioning
  # G0 X{x_safe} Y{y_safe} Z{z_safe} F20000 # move nozzle to remove stringing
  # G0 X{th.axis_maximum.x|float / 2} Y{th.axis_maximum.y - 2} F3600 # park nozzle at rear
  
  M107                           # Part fan(s) - off
  M400                           # Wait for buffers to clear
  
  SET_LED_EFFECT EFFECT=print_done

  {% if printer.heater_bed.temperature >= 90 %}
    # RUN_FILTER FILTER_TIME=<minutes> Default is 10
    RUN_FILTER FILTER_TIME=5
  {% else %}
    RESPOND TYPE=echo MSG='{"Heater bed is %3.2f\u00B0C. Turning filter off." % printer.heater_bed.temperature}'
    STOP_FILTER
  {% endif %}
  
  # RESPOND MSG="Print finished!" # Klipper already sends a print completed message.
  LIGHTS_OUT
  # STATUS_READY

[gcode_macro END_PRINT]
gcode:
  PRINT_END {rawparams}